# ============================================================
# Astral Starter — copiez en .env et adaptez
# ============================================================
APP_NAME="Astral Starter"
APP_VERSION=0.1.2
APP_ENV=development
APP_DEBUG=true
APP_TIMEZONE=Europe/Paris
APP_CHARSET=UTF-8
APP_BASE_URL=

DB_DRIVER=sqlite
DB_DATABASE=database/starter.sqlite

# AUTH_REGISTRATION=direct   # ou confirm (mailer)
AUTH_REGISTRATION=direct

MAIL_DRIVER=mail
MAIL_HOST=localhost
MAIL_PORT=25
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_ENCRYPTION=
MAIL_FROM=noreply@localhost
MAIL_FROM_NAME="Astral Starter"
